html,
body {
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.storybook-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  padding: 1rem;
  background-color: var(--color-background-screen);
}

@media only screen and (min-width: 600px) {
  .storybook-container {
    padding: 80px;
  }
}

.simplebar-content pre {
  background-color: #333;
}
