@font-face {
  font-weight: var(--font-weight-regular);
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: var(--font-weight-semi-bold);
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: var(--font-weight-bold);
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: var(--font-weight-bold);
  font-family: 'Parafina';
  src: url('../fonts/ParafinaTrial-BoldS.otf') format('opentype');
  font-display: swap;
}
