.np-progress-indicator {
  &__title {
    color: var(--color-content-primary);
  }

  &__background {
    background-color: var(--color-background-neutral);
    border-radius: var(--radius-small);
    content: '';
    width: 100%;
  }

  &__status {
    &--accent {
      color: var(--color-content-accent);
      border-radius: var(--radius-small);
    }
  }

  &__value {
    color: var(--color-content-accent);
    margin-top: var(--size-4);
  }
}
