.np-progress-indicator {
  &__background {
    background-color: var(--color-background-neutral);
    width: 100%;
    content: '';
  }
  &__status {
    &--positive {
      background-color: var(--color-positive);
    }
    &--warning {
      background-color: var(--color-warning);
    }
    &--negative {
      background-color: var(--color-negative);
    }
  }
}
