@import (reference) '@transferwise/neptune-css/src/less/variables/_typography.less';
@import (reference) '@transferwise/neptune-css/src/variables/neptune-tokens.less';

.decision {
  display: block;
  cursor: pointer;
  margin-bottom: 0 !important;
  border: 0;
  align-items: center;
  transition: background-color ease 350ms;

  &__content {
    margin-top: var(--size-4);
  }

  + .decision {
    margin-top: -1px;
  }

  dd:last-child {
    margin-bottom: 0;
  }

  dl {
    margin-top: var(--size-8);
  }

  .media,
  &.media {
    padding: var(--size-24) var(--size-12);
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--color-border-neutral);

    .media-left {
      display: none;
    }

    .media-body {
      color: @color-base-grey-dark;
      font-weight: @font-weight-base;
      font-size: @font-size-small; // 14px
      line-height: calc(20 / 14); // 20px
    }

    @media (--screen-xs) {
      .media-left {
        display: block;
      }
    }
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not(.disabled):hover {
    // TODO: Replace this color on rebrand. Custom hover color added to distinct decision hover color from product page backgrounds.
    background-color: #86a7bd12;

    .circle-inverse {
      background-color: var(--color-background-elevated);
    }

    .tw-checkbox-button,
    .tw-radio-button {
      border-color: var(--color-border-focus);
    }
  }

  &.decision-complex {
    align-items: initial;
  }
}
