.tw-nudge {
  background-color: var(--color-background-neutral);
  padding: var(--size-16);
  border-radius: var(--radius-medium);

  &__link {
    // TODO - This should use control / 2 once typography changes have shipped
    font-size: 14px;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
