.np-accordion-item {
  display: block;
  width: 100%;

  &--open {
    .media {
      border: 0 !important;
    }
  }

  .decision:hover {
    background-color: transparent;
  }

  &.np-accordion-item--dark {
    .media-body,
    .h5 {
      color: var(--color-text-control);
    }
  }

  &__content {
    padding: 0 var(--size-12) var(--size-24) var(--size-12);
    border-bottom: 1px solid var(--color-border-neutral);

    @media (--screen-xs) {
      &.icon-left {
        padding-left: 68px;
      }

      &.icon-right {
        padding-right: 68px;
      }
    }
  }
}
