@import (reference) '@transferwise/neptune-css/src/less/addons/_spacing-utilities.less';
@import (reference) '@transferwise/neptune-css/src/less/variables/_typography.less';
@import (reference) '@transferwise/neptune-css/src/variables/neptune-tokens.less';

@media (--screen-sm-max) {
  .tw-accordion-item {
    .accordion-content {
      .media-body {
        .m-l-0;
      }
    }
  }
}

.tw-accordion-item {
  display: block;
  width: 100%;
  padding: 10px 24px;

  &.decision {
    &:hover {
      &:not(.disabled) {
        background-color: transparent;
      }
    }
  }

  .btn {
    border: none;
  }

  .chevron {
    vertical-align: middle;
  }

  .media {
    color: var(--color-text-primary);
    flex-wrap: wrap;
  }

  &.decision .media-body {
    white-space: normal;
    font-size: @font-size-base;
  }

  .accordion-content {
    cursor: auto;
  }

  &.closed {
    .accordion-content {
      max-height: 0;
      overflow: hidden;
    }
  }

  &.tw-accordion-item--dark {
    .media-body,
    .tw-accordion-item__title {
      color: @color-text-control;
    }
  }
}
