@import (reference) '@transferwise/neptune-css/src/less/mixins/_logical-properties.less';

.np-option {
  .circle-sm {
    width: var(--size-40);
    height: var(--size-40);
    line-height: var(--size-40);
  }

  &__sm-media.decision .media-left {
    display: block;
  }

  &__no-media-circle {
    width: var(--size-40);
    display: flex;
    justify-content: center;
  }

  &__no-media-circle > * {
    max-height: 76px;
  }
}

button.np-option {
  background-color: transparent;
  width: 100%;
  .text-align(left);

  &:focus:not(:focus-visible) {
    outline: none;
  }
}
