@import (reference) '@transferwise/neptune-css/src/variables/neptune-tokens.less';

.tw-money-input {
  .tw-money-input__fixed-currency {
    padding-left: 0 !important;
  }

  &__keyline {
    width: 2px;
    border: solid 1px @color-base-smoke-mid;
    height: 24px;
    display: inline-block;
    margin-right: 24px;
    transform: translateY(4px);
  }

  &--disabled {
    background-color: var(--color-background-neutral);
    cursor: not-allowed;
  }

  &__fixed-currency {
    span {
      color: @color-base-grey-mid;
    }

    position: relative;
  }

  &.tw-money-input--rtl {
    &.tw-money-input {
      input {
        border-right: 1px solid @color-base-smoke-mid;
        border-radius: 0 3px 3px 0;
        border-left: 0;

        &:hover {
          border-right: 1px solid @color-base-grey-light;
        }

        &:focus {
          border-right: 1px solid var(--color-border-focus);
        }
      }

      .input-group-btn {
        .dropdown-menu {
          right: auto;
          left: 0;

          .tw-select-filter {
            border-right: 0;
          }
        }

        .btn {
          padding-right: var(--size-16);
          border-radius: 3px 0 0 3px;

          .tw-icon {
            padding-right: 0;
            padding-left: var(--size-16);
          }

          .currency-flag:first-child {
            margin-left: var(--size-8);
          }
        }
      }
    }
  }
}

// Fix chevron icon alignment (icons v2) in currency select button
.tw-money-input .amount-currency-select-btn > .tw-select > .btn {
  display: flex;
  align-items: center;

  span:not(.tw-icon) {
    min-width: 2.6em; // fits a 3 letter string, ZMW being the longest one

    @media (--screen-sm) {
      min-width: calc(2.6em + var(--size-32));
    }
  }
}

.tw-money-input .amount-currency-select-btn > .tw-select > .btn-addon.dropdown-toggle {
  padding-right: var(--size-16);
}

.tw-money-input .amount-currency-select-btn > .tw-select > .btn-lg > span {
  line-height: 25px;
}

.tw-money-input .amount-currency-select-btn > .tw-select > .btn-md > span {
  line-height: 22px;
}

.tw-money-input .amount-currency-select-btn > .tw-select > .btn > span.tw-icon {
  position: static;
  padding-right: var(--size-16);
}
